body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .author {
  padding : 0px;
  vertical-align: middle;
  text-align: center;
  width: 50px;
}

.board-table .date {
  padding : 7px 0px;
  vertical-align: middle;
  text-align: center;
  width: 70px;
}

.board-table .title {
  text-align: center;
}

.board-table .title_contents {
  vertical-align: middle;
    height: 50px;
}


.post-body,
.comment-text {
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.post-index-tool {
  max-width: 450px;
}
.post-index-tool input[type='text']{
  max-width: 130px;
}

.highlighted {
  background-color: yellow;
}
.container{
  max-width: 650px;
}

.comment_style{
  font-size : 0.8em;
}

#show_how_many_posts{
  max-width: 120px;
}


#count_comment{
  color:#919191;
}

#no_line{
  text-decoration: none;
}


#post_info{
  text-align : right;
}

#back_button{
  float:left
}
#edit_delete_buttons{
  margin : 0px 0px 0px 5px;
  float:right;
}


#hr_style{
  border: solid 0.5px;
  color: gray;
}

#title_view{
  background-color: #fafafa;
  border-top: 0.5px solid gray;
}

#comment_user{
  font-size: 14px;
  padding: 5px 0px;
}

#c_pointer{
  cursor:pointer;
}

@media screen and (max-width: 575px) {
  #thead{
    display: none;
  }
}

#tbody{
  border-top: none;
}

.table td{
  border-top : none;
  border-bottom: 1px solid #dee2e6;
}
