<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>
      <P>우리 친구에게 힘을 주고자 행복한 커뮤니티 사이트를 맹급니다</p>

    </div>
  </body>
</html>
