<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>홍정원이란 무엇일까</h1>
        <P>그거슨 워커</p>
      </div>

    </div>
  </body>
</html>
