<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <center>
        <h2 class="mb-3">About</h2>
        <P>원식과 아이들이 소통하기 위한 즐거운 장소입니다.</p>
      </center>
    </div>
  </body>
</html>
